#fondo{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

#cuadrado{
    background-color: white;
    width: 400px; 
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}