#fondo{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

#cuadrado{
    background-color: white;
    width: 400px; 
    height: 400px;
    display: flex;
    flex-direction: column;
}

#partesuperior{
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-bottom: 1px solid #ddd;
    border:2px solid red
}
#dospalabras{
    padding-left: 1em;
    border: 2px solid red;
}
#media{
    border: 2px solid red;
    margin-bottom: 1; /* Distancia vertical entre los bloques */
    padding: 10px;
    
}

#abajo{
    border: 2px solid red;
    padding: 10px;
}

p{
    margin:1;
}

i {
    font-size: 30px;
    color: #333;
    cursor: pointer;
}

#primera{
    font-weight: bold;
}