#fondo{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

#cuadrado{
    background-color: white;
    width: 500px; 
    height: 600px;
    display: flex;
    flex-direction: column;
}

#partesuperior{
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-bottom: 1px solid #ddd;
    
}
#dospalabras{
    padding-left: 1em;
}
img {
  width: 100%;        /* Se ajusta al ancho del div */
  height: 100%;       /* Se ajusta al alto del div */
}
#media{
    margin-bottom: 1; /* Distancia vertical entre los bloques */
    
}
.puntitos{
    margin-left: auto;
}

#iconos{
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-bottom: 1px solid #ddd;
    
}
#primericon{
    margin-right: 0.5em;
}
#segunicon{
    margin-right: 0.5em;
}
#tercericon{
    margin-right: 0.5em;
}
#cuartoicon{
    margin-left: auto;
}




#abajo{
    padding: 10px;
    flex : 1;
}

p{
    margin:1;
}

i {
    font-size: 30px;
    color: #333;
    cursor: pointer;
}

#primera{
    font-weight: bold;
}